:root{
  --white:#fff;
  --smoke-white:#f1f3f5;
  --blue:#4169e1;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  font-family: 'Roboto', sans-serif;
	font-size: 16px;
  background: #ecf0f1;
  margin: 0;
  padding: 0;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.card {
  position: relative;
  margin: 10px;
  width: 400px;
  padding: 20px;
  box-shadow: 3px 10px 20px rgb(0 0 0 / 20%);
  border-radius: 3px;
  border: 0;
  display: flex;
}
.card .card-info {
	flex: 0 0 50%;
}
.card  .content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.card h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
.card .status {
	display: flex;
	align-items: center;
}
.card .status p {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 300;
	padding-left: 10px;
}
.card .status .live-status {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: green;
}
.card .status .live-status.dead {
	background-color: red;
}

.card .content {
  margin-bottom: 5px;
	font-weight: 300;
}
.card .card-image img {
	width: 100%;
	height: 100%;
}
.header {
	display: flex;
	align-items: center;
}
.header h2 {
	margin: 0 15px 0 0;
}
.header .form-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 50%;
}
.header .submit-btn {
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 3px 5px 10px rgb(0 0 0 / 20%);
	transition-duration: 0.5s;
	position: relative;
}
.header .submit-btn:hover {
	background-color: #d8d8dd;
	color: #ffffff;
	border: 2px solid #9d9da0;
	top: 1.5px;
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:hover + label:before {
  opacity: .5;
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  line-height: 35px;
  cursor: pointer;
}

.checkbox:before {
  z-index: 15;
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 15px;
	height: 15px;
	border: 3px solid #444;
}

input[type="checkbox"]:checked + label {
  color: #000000;
}

input[type="checkbox"]:checked +  label:before {
  border-color: transparent;
  border-left-color: #2ecc71;
  border-bottom-color: #2ecc71;
  transform: rotate(-50deg);
  width: 18px;
  height: 8px;
  top: 3px;
}

.selector{
  margin: 10px;
  width:60%;
  background-color:var(--smoke-white);
  height: 40px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  border-radius:9999px;
  box-shadow:0 0 16px rgba(0,0,0,.2);
}
.selecotr-item{
  position:relative;
  flex-basis:calc(70% / 3);
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.selector-item_radio{
  appearance:none;
  display:none;
}
.selector-item_label{
  position:relative;
  height:60%;
  width:100%;
  text-align:center;
  border-radius:9999px;
  line-height:150%;
  font-weight:900;
  transition-duration:.5s;
  transition-property:transform, color, box-shadow;
  transform:none;
}
.selector-item_radio:checked + .selector-item_label{
  background-color:var(--blue);
  color:var(--white);
  box-shadow:0 0 4px rgba(0,0,0,.5),0 2px 4px rgba(0,0,0,.5);
  transform:translateY(-2px);
}
@media (max-width:480px) {
.selector{
  width: 90%;
}
}