.card-image {
    display: block;
    min-height: 20rem;
  
    img {
      display: block;
      max-width: 100%;
    }
  }
  
  .card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
  }
  
  .card {
    display: inline-block;
    max-width: 15rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  
    &:hover {
      transform: translateY(-0.5rem) scale(1.0125);
      box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
    }
  }

  
  
  .card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
    background-color: #fff;
  
    h3 {
      margin: 0 0 0.5em;
    }
    
  }
  