
.img-upload-button {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px
}
img {
    max-width: 400px;
}
.footer-buttons {
    display: flex; 
    justify-content: space-around;
}