body {
  margin: 20px;
}
.playlist-sect {
  margin-top: 50px;
  max-width: 600px;

}
img {
  width: 30px;
}

.song-item {
  display: grid;
  grid-template-columns: 50px 100px 1fr 100px;
  align-items: center;
  justify-items: center;
}
.unlike {
  filter: grayscale(1);
}